<div class="main-header">
  <div class="main-header__intro-wrapper">
    <div class="main-header__welcome">
      <div class="main-header__welcome-title text-light">Welcome to <strong><%= rows[5][5] %></strong>,<strong
          style='color:yellow'> User Name</strong></div>

      <div class="main-header__welcome-subtitle text-light">Project Code:<strong> <%= rows[5][2] %></strong></div>




    </div>
    <div class="quickview">
      <div class="quickview__item">
        <div class="quickview__item-total">41</div>
        <div class="quickview__item-description">
          <i class="far fa-calendar-alt"></i>
          <span class="text-light">Sheet Links</span>
        </div>
      </div>
      <div class="quickview__item">
        <div class="quickview__item-total">64</div>
        <div class="quickview__item-description">
          <i class="far fa-comment"></i>
          <span class="text-light">Forms</span>
        </div>
      </div>
    </div>
  </div>
</div>


<% for(i=1; i<rows.length; i++) { %>
<a href=<%='project'.concat(i) %>>
  <li class="subList__item" id=<%='project'.concat(i) %>>
    <%= rows[1][i] %></li>
  <% } %>
</a>