<!DOCTYPE html>
<html lang="en">

<head>
	<%- include ('confg/head/navbar') %>

</head>

<body>
	<div class="grid">
		<%- include ('confg/sidebar') %>
		<%- include ('confg/topbar') %>
		<%- include ('confg/footer') %>

		<main class="main">
		</main>

	</div>

</body>
<%- include ('confg/script/navbar') %>

</html>