<!DOCTYPE html>
<html lang="en">

<head>
	<%- include ('confg/head/navbar') %>
	<%- include ('confg/head/project') %>

</head>

<body>
	<div class="grid">
		<%- include ('confg/sidebar') %>
		<%- include ('confg/topbar') %>
		<%- include ('confg/footer') %>

		<main class="main">
			<%- include ('partials/project'.concat(i)) %>
		</main>


	</div>

</body>
<%- include ('confg/script/navbar') %>
<%- include ('confg/script/project') %>

</html>