<!DOCTYPE html>
<html lang="en">

<head>
	<%- include ('partials/head-table') %>

</head>

<body>
	<%- include ('partials/menu') %>


	<div class="container-fluid bg-3 text-center">

		<table>
			<thead>
				<tr>
					<th><%= rows[0][0] %></th>
					<th><%= rows[0][1] %></th>
					<th><%= rows[0][2] %></th>
					<th><%= rows[0][3] %></th>
					<th><%= rows[0][4] %></th>
					<th><%= rows[0][5] %></th>
					<th><%= rows[0][6] %></th>
					<th><%= rows[0][7] %></th>
					<th><%= rows[0][8] %></th>
					<th><%= rows[0][10] %></th>
					<th>Action</th>
					<th>Print</th>
				</tr>
			</thead>

			<% for(i=5; i<rows.length; i++) { %>
			<tbody>
				<tr lang=<%=rows[i][9] %> id=<%='title'.concat(i) %>>
					<td id=<%='name'.concat(i) %>><%= rows[i][0] %></td>
					<td id=<%='wp'.concat(i) %>><%= rows[i][1] %></td>
					<td id=<%='pos'.concat(i) %>><%= rows[i][2] %></td>
					<td id=<%='hp'.concat(i) %>><%= rows[i][3] %></td>
					<td id=<%='date'.concat(i) %>><%= rows[i][4] %></td>
					<td id=<%='type'.concat(i) %>><%= rows[i][5] %></td>
					<td id=<%='from'.concat(i) %>><%= rows[i][6] %></td>
					<td id=<%='to'.concat(i) %>><%= rows[i][7] %></td>
					<td id=<%='reason'.concat(i) %>><%= rows[i][8] %></td>
					<td id=<%='action'.concat(i) %>>
						<% if(rows[i][10]=='approved'){ %>
						<font color="green"><%= rows[i][10] %></font>
						<% } %>
						<% if(rows[i][10]=='rejected'){ %>
						<font color="red"><%= rows[i][10] %></font>
						<% } %>
					</td>
					<td>
						<button id=<%='approved'.concat(i) %>>approve</button>
						<button id=<%='rejected'.concat(i)%>>reject</button>
					</td>
					<td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png"
							height="25" width="22" class='pdf' id=<%='pdf'.concat(i) %>>
					</td>


				</tr>
			</tbody>
			<% } %>
		</table>
	</div>

</body>
<%- include ('partials/script-table') %>




</html>
